:root {
    --yellow: #f5c32c;
    /* --yellow: #ffd700; */
    --orange: #fca61f;
    --black: #242d49;
    --gray: #cacbcc;
    --blueCard: #ddf8fe;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --main: #ff9668;
    --secondary: #82b6ff;
    --questionWord: #ff5994;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--orangeCard);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.container {
    display: block;
    text-align: center;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 24%;
    top: 5%;
    width: 20%;
    border-radius: 10%;
    margin-top: 5vh;
}
@media screen and (max-width: 480px) {
    .img {
        width: 35%;
    }
}
/* question word */
.questionWord {
    color: var(--questionWord);
}
.redBtn {
    background-color: red;
}
.greenBtn {
    background-color: green;
}
